body {
	background: #eee;
	margin: 20px;
}

p {
	color: #999;
	font: bold 1.375em/1.2 sans-serif;
	margin: 10px;
}

div {
	background: #fff;
	height: 160px;
	float: left;
	margin: 10px 50px 30px 0;
	width: 160px;
}

.shadow {
	-webkit-box-shadow: 4px 4px 5px #999;
	box-shadow: 4px 4px 5px #999;
}

.shadow-negative {
	-webkit-box-shadow: -4px -4px 5px #999;
	box-shadow: -4px -4px 5px #999;
}

.shadow-spread {
	-webkit-box-shadow: 4px 4px 5px 3px #999;
	box-shadow: 4px 4px 5px 3px #999;
}

.shadow-offsets-0 {
	-webkit-box-shadow: 0 0 9px 3px #999;
	box-shadow: 0 0 9px 3px #999;
}

.inset-shadow {
	-webkit-box-shadow: 2px 2px 10px #666 inset;
	box-shadow: 2px 2px 10px #666 inset;
}

.multiple {
	-webkit-box-shadow: 
		2px 2px 10px rgba(255,0,0,.75), 
		5px 5px 20px blue;

	box-shadow: 
		2px 2px 10px rgba(255,0,0,.75), 
		5px 5px 20px blue;
}

.shadow-negative-spread {
	-webkit-box-shadow: 0 20px 10px -11px #999;
	box-shadow: 0 20px 10px -11px #999;
	/*
负的 spread 值会让阴影在元素内进行收缩。为 0 的 x-offset 值意味着阴影不会向左或向右偏离该元素
	 */
}

/*
box-shadow 还允许使用两个可选的属性——inset 关键字属性和 spread 属性（用于扩张或收缩阴影）。
http://caniuse.com/#search=box-shadow

box-shadow 属性接受六个值：带长度单位的 x-offset 和 y-offset、可选的带长度单位的 blur-radius、可选的 inset 关键字、可
选的带长度单位的 spread 值及 color 值。如果不指定 blur-radius 和 spread 的值，则设为 0。

1. 为元素添加阴影
分别输入表示 x-offset、y-offset、blur-radius、spread 和 color 的值（前四个值均带长度单位），例如 2px 2px 3px 5px #333。

2. 创建内阴影
(2) 分别输入表示 x-offset、y-offset、blur-radius、spread 和 color 的值（前四个值均带长度单位），例如 2px 2px 5px #333。
(3) 在冒号后输入 inset，再输入一个空格（也可以在第 (2) 步之前输入 inset 和一个空格）。

3. 为元素应用多重阴影

4. 将 box-shadow 改回默认值
(1) 输入 -webkit-box-shadow: none;。
(2) 输入 box-shadow: none;。

提 示 可以使用负的 spread 值，让整个阴影比应用样式的元素小一些（如图 14.5.4 所示）。
提 示 inset关键字可以让阴影位于元素内部。
提 示 box-shadow 属性是不继承的。
 */