body {
	font: 100%/1.2 sans-serif;
	padding: 5px 0 0 20px;
}

a {
    color: #1162a4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.documents {
	list-style: none; /* turn off the bullets since we'll show icon instead */
	margin-left: 0;
	margin-top: 0;
	padding-left: 0;
}

.documents li {
	margin-top: .45em;
}

/* Each link in the HTML has this class */
.icon {
	display: inline-block;
	line-height: 1.1;
	font-size: .875em;
	min-height: 16px; /* set to height of icon so it isn't cut off at all */
	padding-left: 23px;
	padding-top: 2px;

	/* allows positioning the icon absolutely 
	relative to elements with class="icon" in the HTML */
	position: relative;
}

/*使用 sprite 拼合图像
sprite 就是通过 content:" "; 生成的空格的背௿图像。将其设置为display: block;，从而可以设置与图标大小匹配的高度和宽度。没有这三个属性，图像将不会显示。
提 示 使用 sprite 并不一定要使用 :before 或:after。可以将 sprite 背௿直接用于元素本身。
提 示 可以在链接或其他元素的 :hover 状态中修改 sprite 的 background-position 以实现翻转效果。
提 示 Project Fondue提供的CSS Sprite Generator（http://spritegen.website-performance.org）是一个帮助创建 sprite 和背௿定位的工具（有很多类似的工具）。
提 示 本节使用的图标来自 Mark James 提供的免费 Silk 图标（www.famfamfam.com/lab/icons/silk/）。
 */


.icon:before {
	background-image: url(../img/sprite.png);
	content: " ";
	display: block;
	height: 16px; /* icon height */
	left: 0; /* default. change this if want the icon to appear in different spot */
	position: absolute;
	width: 16px; /* icon width */
	top: 0; /* default. change this if want the icon to appear in different spot */
}

/* Shift position of sprite image for any 
document filename that ends with .xls */
a[href$=".xls"]:before {
	background-position: -17px 0;
}

/* Shift position of sprite image for any 
document filename that ends with .docx */
a[href$=".docx"]:before {
	background-position: -34px 0;
}
